
    /* CSS styles start here */
    body {
        font-family: Arial, sans-serif;
        background-image: url("https://media.gettyimages.com/id/1167050865/vector/black-background.jpg?s=612x612&w=0&k=20&c=wqZcwdLWq7DqZKz41vaBMVZhLtoqTbCpLaWO4HltAA8=");
        color: white;
        text-align: center;
        padding: 20px;
    }

.profile-img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin: 20px;
    }

    h1 {
        color: lightgreen;
    }

    p {
        font-size: 24px;
    }

    @keyframes fade-in {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }

    #home {
        animation: fade-in 2s;
        animation-duration: 2s;
    }
